Repository go-generalize/api_gen, pull requests merged in 2020-10, with the labels that each got.

#68 fix bootstrap in route
  server_generator/main.go
Labels: server_generator

#74 不要になるものを除外する #73
  client_generator/client_generator.go
  client_generator/main.go
  client_generator/misc.go
  client_generator/statik/statik.go
  client_generator/templates/api.ts.tmpl
  common/meta.go
  go.mod
  go.sum
  templates/frontend/api/api_client.ts
  templates/frontend/api/classes/types.ts
  templates/frontend/main.ts
  templates/frontend/tsconfig.json
Labels: enhancement

#77 Output JSON binding error
  .github/workflows/go.yml
  go.mod
  go.sum
  server_generator/bootstrap_funcs.go
  server_generator/main.go
  server_generator/sample/bootstrap_gen.go
  server_generator/sample/cmd/mock/main.go
  server_generator/sample/mock_bootstrap_gen.go
  server_generator/sample/mock_routes_gen.go
  server_generator/sample/routes_gen.go
  server_generator/sample/service/mock_routes_gen.go
  server_generator/sample/service/routes_gen.go
  server_generator/sample/service/static_page/mock_routes_gen.go
  server_generator/sample/service/static_page/routes_gen.go
  server_generator/sample/service/user/mock_routes_gen.go
  server_generator/sample/service/user/routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/mock_routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/routes_gen.go
  server_generator/sample/service/user2/_userID/mock_routes_gen.go
  server_generator/sample/service/user2/_userID/routes_gen.go
  server_generator/sample/service/user2/mock_routes_gen.go
  server_generator/sample/service/user2/routes_gen.go
  server_generator/sample2/api/event/_eventID/room/0_room_id.go
  server_generator/sample2/api/event/_eventID/room/mock_routes_gen.go
  server_generator/sample2/api/event/_eventID/room/routes_gen.go
  server_generator/sample2/bootstrap_gen.go
  server_generator/sample2/cmd/mock/main.go
  server_generator/sample2/mock_bootstrap_gen.go
  server_generator/sample2/mock_jsons/api/event/_eventID/room/get_room/default.json
  server_generator/statik/statik.go
  server_generator/templates/bootstrap_template.go.tmpl
  server_generator/templates/controller_template.go.tmpl
  server_generator/templates/mock_bootstrap_template.go.tmpl
  server_generator/templates/mock_main.go.tmpl
  server_generator/templates/mock_routes_template.go.tmpl
  server_generator/templates/routes_template.go.tmpl
  templates/backend/main.go
Labels: enhancement

#79 Return RFC3339
  server_generator/go2json/generate.go
  server_generator/sample/bootstrap_test.go
  server_generator/sample/mock_jsons/post_create_table/default.json
  server_generator/sample/mock_jsons/post_create_user/default.json
  server_generator/sample/mock_jsons/service/get_article/default.json
  server_generator/sample/mock_jsons/service/user/post_update_user_name/default.json
  server_generator/sample/mock_jsons/service/user/post_update_user_password/default.json
  server_generator/sample/mock_jsons/service/user2/_userID/_JobID/put_job/default.json
  server_generator/sample/mock_jsons/service/user2/_userID/get_user_job_get/default.json
  server_generator/sample/mock_jsons/service/user2/get_user/default.json
  server_generator/sample/mock_jsons/service/user2/post_update_user_name/default.json
  server_generator/sample/mock_jsons/service/user2/post_update_user_password/default.json
  server_generator/sample/post_create_table.go
  server_generator/sample/post_create_user.go
  server_generator/sample/service/get_article.go
  server_generator/sample/service/user/post_update_user_name.go
  server_generator/sample/service/user/post_update_user_password.go
  server_generator/sample/service/user2/0_user_id.go
  server_generator/sample/service/user2/_userID/_JobID/job.go
  server_generator/sample/service/user2/_userID/jobs.go
  server_generator/sample/service/user2/post_update_user_name.go
  server_generator/sample/service/user2/post_update_user_name_controller_gen.go
  server_generator/sample/service/user2/post_update_user_password.go
  server_generator/sample2/api/event/_eventID/room/0_room_id.go
  server_generator/sample2/mock_jsons/api/event/_eventID/room/get_room/default.json
  templates/backend/interfaces/0_id.go
Labels: enhancement

#87 jsonタグにomitemptyをつけた際にqueryタグのバリデーションを何とかする。 #83
  server_generator/structs.go
Labels: server_generator

#91 不要なimport aliasを削除
  server_generator/sample/bootstrap_gen.go
  server_generator/sample/post_create_table_controller_gen.go
  server_generator/sample/post_create_user_controller_gen.go
  server_generator/sample/routes_gen.go
  server_generator/sample/service/get_article_controller_gen.go
  server_generator/sample/service/routes_gen.go
  server_generator/sample/service/static_page/get_static_page_controller_gen.go
  server_generator/sample/service/static_page/routes_gen.go
  server_generator/sample/service/user/post_update_user_name_controller_gen.go
  server_generator/sample/service/user/post_update_user_password_controller_gen.go
  server_generator/sample/service/user/routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/put_job_controller_gen.go
  server_generator/sample/service/user2/_userID/_JobID/routes_gen.go
  server_generator/sample/service/user2/_userID/get_user_job_get_controller_gen.go
  server_generator/sample/service/user2/_userID/routes_gen.go
  server_generator/sample/service/user2/get_user_controller_gen.go
  server_generator/sample/service/user2/post_update_user_password_controller_gen.go
  server_generator/sample/service/user2/routes_gen.go
  server_generator/sample2/api/event/_eventID/room/get_room_controller_gen.go
  server_generator/sample2/api/event/_eventID/room/routes_gen.go
  server_generator/sample2/bootstrap_gen.go
  server_generator/statik/statik.go
  server_generator/templates/bootstrap_template.go.tmpl
  server_generator/templates/controller_template.go.tmpl
  server_generator/templates/routes_template.go.tmpl
Labels: server_generator

#92 最新バージョンを確認できるオプションを追加
  client_generator/main.go
  common/check_update.go
  server_generator/main.go
Labels: client_generator, enhancement, server_generator
