Repository go-generalize/api_gen, pull requests merged in 2020-11, with the labels that each got.

#96 Fix the handling of map #95
  common/meta.go
  server_generator/go2json/generateArray.go
  server_generator/sample/bootstrap_gen.go
  server_generator/sample/cmd/mock/main.go
  server_generator/sample/mock_bootstrap_gen.go
  server_generator/sample/mock_jsons/post_create_table/default.json
  server_generator/sample/mock_routes_gen.go
  server_generator/sample/post_create_table.go
  server_generator/sample/routes_gen.go
  server_generator/sample/service/mock_routes_gen.go
  server_generator/sample/service/routes_gen.go
  server_generator/sample/service/static_page/mock_routes_gen.go
  server_generator/sample/service/static_page/routes_gen.go
  server_generator/sample/service/user/mock_routes_gen.go
  server_generator/sample/service/user/routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/mock_routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/routes_gen.go
  server_generator/sample/service/user2/_userID/mock_routes_gen.go
  server_generator/sample/service/user2/_userID/routes_gen.go
  server_generator/sample/service/user2/mock_routes_gen.go
  server_generator/sample/service/user2/routes_gen.go
Labels: bug

#97 エラーをラップできるようにした
  client_generator/main.go
  client_generator/sample/api_client.ts
  client_generator/sample/classes/service/types.ts
  client_generator/sample/classes/service/user/types.ts
  client_generator/sample/classes/service/user2/_userID/_JobID/types.ts
  client_generator/sample/classes/service/user2/_userID/types.ts
  client_generator/sample/classes/service/user2/types.ts
  client_generator/sample/classes/types.ts
  common/excludes.go
  go.sum
  server_generator/controller_template.go
  server_generator/main.go
  server_generator/routes_template.go
  server_generator/sample/post_create_table_controller_gen.go
  server_generator/sample/post_create_user_controller_gen.go
  server_generator/sample/routes_gen.go
  server_generator/sample/service/get_article_controller_gen.go
  server_generator/sample/service/routes_gen.go
  server_generator/sample/service/static_page/get_static_page_controller_gen.go
  server_generator/sample/service/static_page/routes_gen.go
  server_generator/sample/service/user/post_update_user_name_controller_gen.go
  server_generator/sample/service/user/post_update_user_password_controller_gen.go
  server_generator/sample/service/user/routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/put_job_controller_gen.go
  server_generator/sample/service/user2/_userID/_JobID/routes_gen.go
  server_generator/sample/service/user2/_userID/get_user_job_get_controller_gen.go
  server_generator/sample/service/user2/_userID/routes_gen.go
  server_generator/sample/service/user2/get_user_controller_gen.go
  server_generator/sample/service/user2/post_update_user_name_controller_gen.go
  server_generator/sample/service/user2/post_update_user_password_controller_gen.go
  server_generator/sample/service/user2/routes_gen.go
  server_generator/sample/wrapper/internal/fmt.go
  server_generator/sample/wrapper/wrapper.go
  server_generator/sample2/api/event/_eventID/room/get_room_controller_gen.go
  server_generator/sample2/api/event/_eventID/room/mock_routes_gen.go
  server_generator/sample2/api/event/_eventID/room/routes_gen.go
  server_generator/sample2/bootstrap_gen.go
  server_generator/sample2/cmd/mock/main.go
  server_generator/sample2/mock_bootstrap_gen.go
  server_generator/sample2/wrapper/internal/fmt.go
  server_generator/sample2/wrapper/wrapper.go
  server_generator/statik/statik.go
  server_generator/templates/controller_template.go.tmpl
  server_generator/templates/fmt_template.go.tmpl
  server_generator/templates/routes_template.go.tmpl
  server_generator/templates/wrapper_template.go.tmpl
  templates/backend/go.mod
  templates/backend/go.sum
  templates/backend/interfaces/.gitignore
  templates/frontend/api/api_client.ts
  templates/frontend/api/classes/types.ts
Labels: enhancement, server_generator

#99 Feat output log #98
  server_generator/sample/routes_gen.go
  server_generator/sample/service/routes_gen.go
  server_generator/sample/service/static_page/routes_gen.go
  server_generator/sample/service/user/routes_gen.go
  server_generator/sample/service/user2/_userID/_JobID/routes_gen.go
  server_generator/sample/service/user2/_userID/routes_gen.go
  server_generator/sample/service/user2/routes_gen.go
  server_generator/sample2/api/event/_eventID/room/routes_gen.go
  server_generator/statik/statik.go
  server_generator/templates/routes_template.go.tmpl
Labels: enhancement, server_generator

#102 swagger用のgodocミスを修正
  server_generator/sample/post_create_table_controller_gen.go
  server_generator/sample/post_create_user_controller_gen.go
  server_generator/sample/service/get_article_controller_gen.go
  server_generator/sample/service/static_page/get_static_page_controller_gen.go
  server_generator/sample/service/user/post_update_user_name_controller_gen.go
  server_generator/sample/service/user/post_update_user_password_controller_gen.go
  server_generator/sample/service/user2/_userID/_JobID/put_job_controller_gen.go
  server_generator/sample/service/user2/_userID/get_user_job_get_controller_gen.go
  server_generator/sample/service/user2/get_user_controller_gen.go
  server_generator/sample/service/user2/post_update_user_name_controller_gen.go
  server_generator/sample/service/user2/post_update_user_password_controller_gen.go
  server_generator/sample2/api/event/_eventID/room/get_room_controller_gen.go
  server_generator/statik/statik.go
  server_generator/templates/controller_template.go.tmpl
Labels: server_generator

#110 remove package name check
  client_generator/main.go
Labels: client_generator

#115 mockをつけるオプションを追加する #114
  server_generator/main.go
  server_generator/sample2/api/event/_eventID/room/mock_routes_gen.go
  server_generator/sample2/mock_bootstrap_gen.go
  server_generator/sample2/mock_jsons/api/event/_eventID/room/get_room/default.json
Labels: enhancement, server_generator
