Repository go-generalize/api_gen, pull requests merged in 2021-03, with the labels that each got.

#154 開発時以外でpanicしないように修正
  cmd/main.go
Labels: enhancement

#153 Support windows binary
  cmd/.goreleaser.yml
  server_generator/.goreleaser.yml
Labels: enhancement, go_client_generator, server_generator

#146 Add refactored client_generator
  cmd/client/client.go
  cmd/client/typescript.go
  pkg/client/typescript/classes.go
  pkg/client/typescript/classes_test.go
  pkg/client/typescript/generator.go
  pkg/client/typescript/generator_test.go
  pkg/client/typescript/templates/api.ts.tmpl
  pkg/client/typescript/testdata/api_client.ts
  pkg/client/typescript/testdata/classes/service/static_page/types.ts
  pkg/client/typescript/testdata/classes/service/types.ts
  pkg/client/typescript/testdata/classes/service/user/types.ts
  pkg/client/typescript/testdata/classes/service/user2/_userID/_JobID/types.ts
  pkg/client/typescript/testdata/classes/service/user2/_userID/types.ts
  pkg/client/typescript/testdata/classes/service/user2/types.ts
  pkg/client/typescript/testdata/classes/types.ts
  pkg/client/typescript/types.go
Labels: client_generator

#157 Fix/GitHub actions setting
  .github/workflows/release.yml
Labels: enhancement

#161 Add content type to header #160
  pkg/client/go/sample/client.go.want
  pkg/client/go/templates/client.go.tmpl
  samples/empty_root/clients/go/api_client.go
  samples/standard/clients/go/api_client.go
Labels: bug, go_client_generator

#163 外部コマンド(git)に依存しているところを別の方法で解決する #162
  go.mod
  go.sum
  server_generator/main.go
  server_generator/util.go
Labels: server_generator
