Repository go-generalize/api_gen, pull requests merged in 2022-04, with the labels that each got.

#309 go2ts → go-easyparser #307
  pkg/client/typescript/classes.go
  pkg/common/parserfilter.go
  pkg/go2json/generate.go
  pkg/go2json/generateArray.go
  pkg/go2json/generate_type.go
  pkg/server/mock.go
  pkg/server/swaggen.go
  pkg/util/util.go
Labels: enhancement

#308 エンドポイントを指定しなかったときのmockディレクトリ名修正 #106
  pkg/go2json/generate.go
  samples/standard/server/mock/json/get/default.json
  samples/standard/server/mock/json/service/user/get/default.json
Labels: server_generator

#315 panicした原因を出すようにする #314
  e2e/multipart/controller/controller_initializer.go
  pkg/server/templates/controller_initializer_template.go.tmpl
  samples/empty_root/server/controller_initializer.go
  samples/standard/server/controller_initializer.go
Labels: bug, server_generator
